/* 1 */
html {
  font-size: 16px;
}

/* 1 */
body {
  font-size: 1rem;
  line-height: 1;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
  background: #b4b4b4 url("../images/pink-flowers.webp");
}

/* 10 */
.header__heading {
    padding-top: 96px;
    margin-bottom: 46px;
    font-size: 2rem;
  }